set default=0
set timeout=5

# Load theme if available
if [ -f /boot/grub/themes/omybuntu/theme.txt ]; then
  set theme=/boot/grub/themes/omybuntu/theme.txt
fi

menuentry "Try or Install Omybuntu" {
    set gfxpayload=keep
    linux /casper/vmlinuz boot=casper quiet splash noprompt ---
    initrd /casper/initrd
}
